<style>
.article-h2{
  color: rgba(5, 5, 134, 0.34);
  margin-top:40px;
}

.article-block {
  margin-top: 31px;
  padding-left: 50px;
}
</style>


<div class="container" style="padding-top:20px; padding-left:5%; padding:right:5%;">
  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10" style="padding-bottom:100px;">
      <!-- tab nav -->
      <ul class="nav nav-tabs" style="padding-left:5%">
        <li class="active"><a data-toggle="tab" href="#about">關於我</a></li>
        <li><a data-toggle="tab" href="#program-note">程設雜筆</a></li>
        <li><a data-toggle="tab" href="#course-note">修課筆記</a></li>
        <li><a data-toggle="tab" href="#life-note">生活見聞</a></li>
      </ul>

      <!-- tab content - About Me -->
      <div class="tab-content" style="padding-top:5%; padding-left:5%; padding-right:5%;">
        <div id="about" class="tab-pane fade in active">
          <h1>Chiwei Hsiao</h1>
          <!--article block START-->
          <div class="article-block">
            <h2 class='article-h2'>Contact</h2>
            <ul>
              <li>kiwi010379@gmail.com</li>
              <li><a href="https://github.com/ChiWeiHsiao">Github</a></li>
              <li><a href="https://www.linkedin.com/in/chiwei-hsiao">Linkedin</a></li>
              <li><a href="https://www.facebook.com/profile.php?id=100001985286849">facebook</a></li>
            </ul>
            <h2 class='article-h2'>Education</h2>
            <ul>
              <li>B.S. Dept. of Computer Science, National Chiao Tung University, Hsinchu, Taiwan, 2014 - now.</li>
            </ul>
            <h2 class='article-h2'>Experiences</h2>
            <ul>
              <li><a href="https://plus.nctu.edu.tw/">NCTU+</a> Backend Engineer</li>
              <li>NCTU CS Tennis Team Leader</li>
            </ul>
            <h2 class='article-h2'>Awards</h2>
            <ul>
              <li>Academic Achievement Award - NCTU (February 2016)</li>
              <li>Academic Achievement Award - NCTU (September 2016)</li>
            </ul>
            <h2 class='article-h2'>Skills & Interest</h2>
            <ul>
              <li>Programming Language: C++, python, ruby</li>
              <li>Website Development: ROR back-end / Basic front-end</li>
              <li>Machine Learning ( still learning XD )</li>
            </ul>
          </div>
        </div>

        <!-- tab-程設雜筆 -->
        <div id="program-note" class="tab-pane fade">
          <p>假的 OwO</p>
        </div>
        <!-- tab-課程雜筆 -->
        <div id="course-note" class="tab-pane fade">
          <p>假的 OwO</p>
        </div>
        <!-- tab-生活見聞 -->
        <div id="life-note" class="tab-pane fade">
          <p>假的 OwO</p>
        </div>
      </div>
      <!--tab content - END -->
  </div>
</div>
</div>
